<!-- 
<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
       
    </mat-card-header>
</mat-card> -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
          </mat-card-header>
      
          <form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="example-form">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" name="email" ngModel #emailInput="ngModel" required>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid emailname.</mat-error>
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                  <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
                  <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="primary" class="btn-block" type="submit">Log in</button>
            <mat-spinner *ngIf="!islogedIN"></mat-spinner>
          </form>
        </mat-card>
      
      </div>