<div class="login-wrapper"  fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>
          <form (submit)="onRegister(registerForm)" #registerForm="ngForm" class="example-form">
              <mat-card-content>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Username" name="username" ngModel #usernameInput="ngModel" required>
                      <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" >
                        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required >
                        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
                      </mat-form-field>
              
                      <mat-form-field class="example-full-width">
                          <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
                          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
                      </mat-form-field>
                      <!-- <mat-form-field class="example-full-width" >
                        <input matInput name="role" ngModel type="role" placeholder="role" #roleInput="ngModel" required >
                        <mat-error *ngIf="roleInput.invalid">Please enter a valid role.</mat-error>
                      </mat-form-field> -->
                      
                      <!-- <mat-form-field class="example-full-width">
                            <mat-label>Choose a role...</mat-label>
                            <mat-select [(value)]="selected" >
                              <mat-option [value]="roles" *ngFor="let roles of Roles" name="role" matInput ngModel #roleInput="ngModel" requied>{{roles}}
                              </mat-option>
                            </mat-select>
                      </mat-form-field> -->
              </mat-card-content>
              <button mat-stroked-button color="primary" class="btn-block" type="submit">Register</button>
          </form>
        </mat-card>
</div>  