mat-form-field,
textarea {
    align-self: auto;
    width: 75%;
}
.main-div{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
  }

/* .vm-box{
    margin: auto;
    margin-top: 15%;
} */
/* mat-card{
    width: 350px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    /* vertical-align:middle; */
