
<div class="main-div">
        
    <mat-card class="vm-box" >
            <mat-card-header>
                    <mat-card-title>AWS VM launch</mat-card-title>
            </mat-card-header>
        <form [formGroup]="awsForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input 
                    matInput 
                    formControlName='ami'
                    placeholder="Choose an Amazon Machine Image (AMI)">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    formControlName='instanceType'
                    placeholder="Choose an Instance Type">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    formControlName='numberOfInctances'
                    placeholder="Number of Instances">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    formControlName='storage'
                    placeholder="Add storage">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    formControlName='securityGroup'
                    placeholder="Configure Security group">
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" class="btn-block" type="submit">Launch</button>
        </form>
    </mat-card>
</div>

