
<div class="main-div">
        
    <mat-card class="vm-box" >
            <mat-card-header>
                    <mat-card-title>AWS VM launch</mat-card-title>
            </mat-card-header>
        <form action="">
            <mat-form-field>
                <input matInput placeholder="Choose an Amazon Machine Image (AMI)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Choose an Instance Type">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Number of Instances">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Add storage">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Configure Security group">
            </mat-form-field>
            
        </form>
    </mat-card>
</div>

